{
    "window.zoomLevel": 1,
    "files.associations": {
        "*.fes": "vue"
    },
    "emmet.syntaxProfiles": {
        "vue-html": "html",
        "vue": "html"
    },
    "eslint.nodePath": "D:\\ruanjian\\node\\node_modules",
    "eslint.validate": [
        "javascript",
        "javascriptreact",
        {
            "language": "html",
            "autoFix": true
        },
        {
            "language": "vue",
            "autoFix": true
        }
    ],
    "eslint.options": {
        "plugins": ["html"]
    },
    "editor.detectIndentation": false,
    "files.autoSave": "off",
    "workbench.iconTheme": "vscode-icons"
}
